__pycache__/
*.py[cod]
*.so
venv/
.env/
.idea/
*.iml
.ipynb_checkpoints
.DS_Store
Thumbs.db
*.log
*.env
.env.*
credentials/*.json
credentials/
*.pyo
*.pyd
*.pyc
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
.pytest_cache/
.cache/

